*{
    margin: 0;
    padding: 0;
    font-family: 'Popins',sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background-image: url(https://media.istockphoto.com/id/1285082518/photo/tablet-with-paper-clip-to-do-list-3d-illustration-3d-rendering.webp?b=1&s=170667a&w=0&k=20&c=3fkWHK80VqM2Yg5Hfj_iaciXnXhPRjQMCCgNL9uLKwA=);
    background: cover;
    background-repeat: none;
}
.todo{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px ;
}
.todo h2{
    color: black;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 20px;
}
.todo h2 img{
    width: 35px;
    margin: 0 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: rgb(227, 99, 25);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
}
ul li{
    list-style: none;
    font-size: 18px;
    padding: 15px 8px 15px 50px ;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: "";
    position: absolute;
    height: 28px;
    width: 27px;
    border-radius: 24%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 8px;
     left: 12px;
}
#list  .checked{
    color: #555;
    text-decoration: line-through;
}
#list .checked::before{
    background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 24px;
    color: #555;
    line-height: 40px;
    text-align: center;
   border-radius: 50%;
}
ul li span:hover{
    background-color: rgb(251, 8, 57);
    color: white;
}
